html
{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0px;
    scroll-behavior: smooth;
}

body
{
    background-color: #292929;
}

/*TYPEWRITER*/
.line-1{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(44) 1s 1 normal both,
             blinkTextCursor 600ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 6.8em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


/* PROFILE PIC*/
#avatar {
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url('Assets/profile pic2.jpg');
}

.gradient-border {
  --borderWidth: 6px;
  background: #1D1F20;
  position: relative;
  border-radius: 100px;
  background-image: url('Assets/profile pic2.jpg');
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #b9ffec, #017758, #21f0b8, #00cf98);
  border-radius: 150px;
  z-index: -1;
  animation: animatedgradient 1.5s ease forwards infinite;
}


@keyframes animatedgradient {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}





.profile-title
{
  color: white;
  font-size: 45px;
}

.stats-section
{
  background-color: #1e1e1e;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
}

/*STATS SECTION*/
#stats-main{
  color: white;
  font-size: 65px;
  font-weight: 700;
}

.stats-caption{
  color: white;
  font-size: 45px;
  font-weight: 600;
}

ul
{
  list-style:none;
}

.li-about:before
{
  content: "- ";
  font-weight: 700;
  color:#00cf98;
  font-weight: 800;
}

.skills-tags
{
  color: white;
  font-size: 20px;
}

.svg-wrapper {
  width: 370px;  
  margin-left: 0px;
  margin-top: 30px;
}
.shape {
  
  stroke-dasharray: 100 300;
  stroke-dashoffset: 60;
  stroke-width: 5px;
  fill: transparent;
  stroke: #00cf98;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {

  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  margin-left: 15px;
  color: #fff;
  top: -48px;
  position: relative;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.project-title
{
  color: black;
}

.project-cards
{
  background-color: rgb(0, 110, 255);
  border-radius: 20px;
}

.project-pics
{
  width: 390px;
  margin-left: -10px;
  margin-top: 4px;
  height: 400px;
}

#typeWriteHead{
  font-size: 60px;
}

#socialIcons{
  color: white; 
  width: 60px; 
  margin-right: 2rem;
}

#aboutMeText{
  padding-left: 70px;
   margin: auto; 
   margin-top: 10px;
}

#socialMediaShowCase{
  margin-left: 3%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

  #typeWriteHead{
    font-size: 50px;
  }

  #socialIcons{
    color: white; 
    font-size: 40px; 
    margin-left: 0rem;
  }

  #aboutMeText{
    margin-top: 2rem;
    padding-left: 10%;
  }

  #skills-languages-section{
    margin-left: -3rem;
  }

  #socialMediaShowCase{
    margin-left: 15%;
  }
  
  
} 

/*TEXT STYLES STATS */
