
        
        body {
            background: white;
        }
        h1 { 
            color: black;
            font-weight: 600;
            font-size: 90px;
            font-family: "SF Pro Display";

        }
        .topButtons {
            padding-left: 20px;
            padding-top: 100px;
            color: black;
            font-size: 25px;
            font-weight: 600;
            font-family:  "Helvetica";
            text-decoration: none
        
        }

        .navigationBarItem{
            padding: 0px;
            margin: 0px;
            list-style-type: none;
            flex-direction: row-reverse;

        }

        .navigationBar{
            flex-direction: row-reverse;
        }

        h2 {
            padding-left: 30px;
            padding-top: 0px;
            color: #8FB4FF;
            font-size: 30px;
            font-family:  Helvetica -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica', sans-serif;
        }
        div{
            padding-left: 0px;
            margin: 0px;
            color: #8FB4FF;
            font-weight: 500;
            font-size: 30px;
            font-family: "SF Pro Display";
        }

        .layoutButtons{
            display: inline;
            padding-top: 100px;
        
        }

        .mediaButton{
            padding-top: 70px;
            padding-right: 120px;
        }

        ul{
            padding: 0px;
            margin: 0px;
            list-style-type: none;
            display: flex;
            flex-direction: row-reverse;
        }

        li{
            display: inline;
            margin: 20px;
        }


        .column{
            display: inline;
        }

        .placeholderRight{
            padding-right: 420px;
        }

        .placeholderLeft{
            padding-left: 50px;
            padding-top: 100px;
        }

        .mainPic{
            padding-left: 350px;
            padding-top: 150px;
        }

        .footerText{
            color: black;
            padding-left: 50px;
            font-weight: 700;
            font-size: 40px;
            font-family:  Helvetica -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .skillsText{
            padding-left: 50%;
        }

        .mainText{
            padding-left: 0px;
            padding-top: 0px;
            color: #8FB4FF;
            font-size:40px;
            font-family:  Helvetica -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica', sans-serif;
        }

        .ul2{
            list-style-type: none;
            display: inline;
            padding-left: 130px;
        }

        .greyCanvas{
            background-color: #F7F7F7;
            height: 400px;
            width: inherit;

        }

        html{
            scroll-behavior: smooth;
        }

        .roundedBorder{
            border-radius: 25px;
            color: black;
            height: 100px;
            width: 100px;
        }