
        @font-face{
            src: url(Fonts/FontsFree-Net-SFProDisplay-Regular.ttf);
            font-family: SF Pro Display;

        }

        @font-face{
            src: url(Fonts\HelveticaNeue.ttf);
            font-family: Helvetica;

        }

        body {
            background: white;
        }
        h1 { 
            color: black;
            font-weight: 600;
            font-size: 90px;
            font-family: SF Pro Display;

        }
        .topButtons {
            min-width: 100px;
            padding-left: 20px;
            padding-top: 100px;
            color: black;
            font-size: 25px;
            font-weight: 600;
            font-family:  Helvetica;
            text-decoration: none
        
        }

        .navigationBarItem{
            padding: 0px;
            margin: 0px;
            list-style-type: none;
            flex-direction: row-reverse;

        }

        .navigationBar{
            flex-direction: row-reverse;
        }

        h2 {
            padding-left: 30px;
            padding-top: 0px;
            color: #8FB4FF;
            font-size: 30px;
            font-family:  Helvetica;
        }
        div{
            padding-left: 0px;
            margin: 0px;
            color: #8FB4FF;
            font-weight: 500;
            font-size: 30px;
            padding-top: 0%;
            font-family: SF Pro Display;
        }

        .layoutButtons{
            display: inline;
            padding-top: 100px;
        
        }

        .mediaButton{
            padding-top: 70px;
            padding-right: 120px;
        }

        ul{
            padding: 0px;
            margin: 0px;
            list-style-type: none;
            display: flex;
            flex-direction: row-reverse;
        }

        li{
            display: inline;
            margin: 20px;
        }


        .column{
            display: inline;
        }

        .placeholderRight{
            padding-right: 420px;
        }

        .placeholderLeft{
            padding-left: 50px;
            padding-top: 100px;
        }

        .mainPic{
            
            height: 50px;
            width: 50px;
        }

        .footerText{
            color: black;
            padding-left: 50px;
            font-weight: 700;
            font-size: 40px;
            font-family:  Helvetica;
        }

        .skillsText{
            padding-left: 50%;
        }

        .mainText{
            padding-left: 0px;
            padding-top: 0px;
            color: #8FB4FF;
            font-size:40px;
            font-family:  Helvetica;
        }

        .ul2{
            list-style-type: none;
            display: inline;
            padding-left: 130px;
        }

        .greyCanvas{
            background-color: #F7F7F7;
            height: 400px;
            width: inherit;

        }

        html{
            scroll-behavior: smooth;
        }

        .roundedBorder{
            border-radius: 25px;
            color: black;
            height: 100px;
            width: 100px;
        }

        #rcorners1 {
            border-radius: 15px 50px 30px;;
            background: grey;
            width: 200px;
            height: 150px; 
          }

        .circle{
            position: relative;
            display: inline-block;
    
            width: 30%px;
            height: 300px;
    
            border-radius: 50%;
            
          }

          .titleTextAbout{
            font-family: SF Pro Display;
            font-weight: 400;
            font-size: 70px;
            color: black;
          }

          .smallTitles{
            font-family: SF Pro Display;
            font-weight: 400;
            font-size: 40px;
            color: black;
          }

          .p{
            font-family: SF Pro Display;
            font-size: 25px;
            color: grey;
            fill: grey;
          }

          .table{
              margin: 0cm;
              padding-top: 0cm;
              padding-left: 0cm;
              padding-right: 0cm;
              padding-bottom: 0cm;
          }

          .clearfix{
            clear:both
        }